.btn-clipboard {
    position: relative;
    outline: none;

    &::before {
        content: 'Email Copied !';
        position: absolute;
        right: 0;
        bottom: -2em;
        left: 0;
        font-style: italic;   
        transform: scaleY(0);
        transform-origin: bottom left;   
        transition: transform .25s ease-out;
    }

    &.is-copied {
        &::before {
            transform: scaleY(1);
            transform-origin: top left;
        }
    }
}