@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
button {
    font-family: 'EB Garamond', serif;
    font-size: 1em;
    line-height: 1.6;
    letter-spacing: .0625em;
    background-color: #fefefe;
}

a,
button {
    position: relative;
    display: inline-block;
    color: inherit;
    text-decoration: none;

    &.selected,
    &:hover {
        &::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        height: 1px;
        background-color: #222;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform .25s ease-out;
    }

    .is-inverted & {
        &::after {
            background: #fefefe;
        }
    }
}