.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    height: 100%;

    @media screen and (min-width: 760px) {
        width: 64%;
    }
}

.content {
    width: 92%;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;

    @media screen and (min-width: 760px) {        
        width: 55.5%;
    }
}