.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    height: 100%;

    @media screen and (min-width: 760px) {
        width: 50%;
    }
}

.content {
    width: 88.8%;
    height: 77.7%;
    text-align: justify;

    @media screen and (min-width: 760px) {        
        width: 55.5%;
        height: 66.6%;
    }
}