@import '../../styles/vars.scss';

.nav {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: $black;
    color: $white;   
    padding: 1.75em;
    transition: color .3s ease-in, background-color .3s ease-in;

    @media screen and (min-width: $bp-mobile) {
        background-color: transparent;  
        color: $black;    
        
        .is-inverted & {
            color: $white;
        }
    }

    a {
        &::after {
            background-color: $white;
        }

        @media screen and (min-width: $bp-mobile) {
            &::after {
                background-color: $black;
            }
        }
    }
}

.name {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
}